@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Wix Madefor Text", sans-serif;
  animation: 0.7s show ease;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }  

.next-link{
  text-decoration: none;
}

/* nav */
nav {
  height: 80px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left:0;
  right: 0;
  top: 0;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

nav .contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.contacts .phone {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.contacts .phone:hover {
  color: #cbc276;
}

.contacts .img {
  width: 24px;
  height: 24px;
  transition: 0.5s;
}

nav .links {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 19px;
  cursor: pointer;
}

.links .img {
  width: 50px;
  height: 40px;
  opacity: 0.8;
  transition: 0.5s;
}

nav .links:hover,
nav .logo:hover {
  color:#cbc276;
}

nav .logo {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

/* footer */
footer {
  flex: 0 0 auto;
  min-height: 120px;
  background-color: #38424c;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

footer .contacts {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contacts .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.network .inst,
.network .vk {
  width: 25px;
  height: 25px;
  transition: 0.5s;
}

.network .vk:hover,
.network .inst:hover {
  scale: 1.1;
}

/* main page style */
  .main-container,
  .galery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .main-container {
    gap: 100px;
  }
  
  .main-img,
  .galery-img {
    position: relative;
  }

  .main-img img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .forth, .back {
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
  }
  
  .forth {
    right: 0;
    bottom: 45%;
  }

  .back {
    bottom: 45%;
  }

  .forth:hover, .back:hover {
    scale: 1.1;
  }

/* odds */
.odds {
  width: 1065px;
  background-color: rgb(241,241,229);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;
  padding: 2em;
}

.odd {
  width: 200px;
  color: rgb(56,66,76);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* cottages */
.cottages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.cottages .stripe {
  width: 700px;
  height: 3px;
  background-color: #cbc276;
  opacity: 0.8;
}

.cottages-container h1,
.odds-container h1 {
  text-align: center;
  margin-bottom: 50px;
}

.cottage {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.cottage img {
  width: 515px;
  height: 515px;
  object-fit: cover;
  object-position: top;
  box-shadow: 12px 12px #eef7f9;
}

.cottage .about {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 450px;
}

.about h2 {
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #f1f1e5;
  font-size: 20px;
}

.info .sq,
.info .count,
.info .sleeper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sq .img {
  width: 25px;
  height: 25px;
}

.count .img {
  width: 25px;
  height: 25px;
}

.sleeper .img {
  width: 25px;
  height: 25px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form, .home,
.links .home,
.links .cottage {
  text-decoration: none;
  width: 220px;
  height: 50px;
  background-color: #cbc276;
  padding: 0.7em;
  border: 0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.form:hover,
.links .home:hover,
.links .cottage:hover {
  background-color: rgb(221, 214, 154)
}

/* cottage */
.block {
  height: 150px;
}

.one {
  align-items: start;
}

.one ul {
  list-style-type: none;
}

.one .check {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.one .add {
  font-size: 15px;
}

/* gallery */
.galery-container {
  gap: 50px;
  margin-top: 50px;
}

.max-img img {
    width: 50vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.min-img {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  cursor: pointer;
}

.min-img div {
  transition: 0.3s;
  opacity: 0.7;
}

.min-img div:hover {
  opacity: 1;
}

.min-img img {
  width: 60px;
  height: 70px;
}

/* form */
.main-form,
.cottage-form {
  background-color: rgba(255, 255, 255, 0.75);
  width: 80vw;
  height: 20vh;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.main-form {
  position:absolute;
  top: 70%;
  left: 10%;
  right: 10%;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input,
select {
  padding: 0.7em;
  font-size: 14px;
  border: 1.5px solid #cbc276;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

input:focus,
select:focus {
  outline: none;
  border: 2.5px solid #cbc276;
}

.container-form {
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container-form img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error_visible {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.error_hidden {
  display: none;
}

/* status*/
.container_status {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.status {
  position: absolute;
  z-index: 3;
  width: 50%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  left: 23%;
  right: 23%;
  top: 20%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  font-size: 20px;
}

.status div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.status a,
.status .closeModal {
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.wait {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(163, 156, 94);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

/* menu */
.menu {
 position: fixed;
 z-index: 3;
 width: 770px;
 height: 100vh;
 background-color: rgba(163, 156, 94, 0.9);
 transition: 1.5s;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 padding: 1em;;
}

.hid {
  left: -970px;
}

.vis {
  left: 0px;
}

.menu .content {
  width: 570px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content .logo {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.logo .close {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.logo .close:hover {
  scale: 1.1;
}

.content .stripe {
  height: 1px;
  width: 270px;
  background-color: white;
  margin-bottom: 50px;
}

.content a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  transition: 0.5s;
}

.content a:hover {
  color: white;
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .cottage {
    gap: 80px;
  }

  .cottage img {
    width: 415px;
    height: 415px;
  }

  input,
  select {
    font-size: 13px;
  }

  .odds {
    width: 865px;
    gap: 100px;
  }
  
  .odd {
    width: 150px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .cottage {
    gap: 60px;
  }

  .cottage img {
    width: 315px;
    height: 315px;
  }

  .cottage .about {
    width: 350px;
  }

  .main-form {
    display: none;
  }

  .form, .home,
  .links .cottage {
    width: 170px;
  }

  footer .data {
    display: none;
  }

  .contacts .phone {
    display: none;
  }

  .menu {
    width: 570px;
   }
   
   .hid {
     left: -770px;
   }

   .max-img img {
    width: 80vw;
  }

   .min-img {
    width: 80vw;
   }

   .cottage-form {
    width: 50vw;
    height: 50vh;
    gap: 10px;
    align-items: center;
  }
  
  .cottage-form h1 {
    font-size: 20px;
  }
  
  .cottage-form .form,
  .cottage-form .home {
    width: 85%;
  }
  
  form {
    flex-direction: column;
  }

  input, select {
    width: 85%;
  }

  .status {
    width: 60%;
    left: 15%;
    right: 15%;
   }

   .odds {
    width: 665px;
    gap: 50px;
  }
  
  .odd {
    width: 150px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
  .cottages .stripe {
    width: 400px;
  }

  .cottage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cottage img {
    width: 315px;
    height: 315px;
  }

  .cottage .about {
    width: 415px;
  }

  .map {
    display: none;
  }

  .contacts .phone {
    display: none;
  }

  .main-form {
    display: none;
  }

  .min-img {
    display: none;
  }

  .cottage-form {
    width: 60vw;
    height: 80vh;
    gap: 10px;
    align-items: center;
  }
  
  .cottage-form h1 {
    font-size: 20px;
  }
  
  form {
    flex-direction: column;
  }

  input, select {
    width: 80%;
  }

  .cottage-form .form,
  .cottage-form .home {
    width: 80%;
  }

  .status {
    width: 70%;
    left: 8%;
    right: 8%;
   }

  .menu {
    width: 370px;
  }
   
  .hid {
    left: -570px;
  }

  .max-img img {
    width: 80vw;
  }

  .odds {
    width: 365px;
    gap: 50px;
  }
  
  .odd {
    width: 100px;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .cottages .stripe {
    width: 300px;
  }

  .cottage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cottage img {
    width: 315px;
    height: 315px;
  }

  .cottage .about {
    width: 315px;
  }

  .map {
    display: none;
  }

  .main-form {
    display: none;
  }

  .min-img {
    display: none;
  }

  .contacts .phone,
  .contacts .img {
    display: none;
  }

  .links .form,
  .links .cottage,
  .links .home {
   width: 160px;
  }

  .cottage-form {
    width: 60vw;
    height: 65vh;
    gap: 10px;
    align-items: center;
  }
  
  .cottage-form h1 {
    font-size: 20px;
  }
  
  .cottage-form .form,
  .cottage-form .home {
    width: 85%;
  }
  
  form {
    flex-direction: column;
  }

  input, select {
    width: 85%;
  }

  .status {
    width: 70%;
    left: 5%;
    right: 5%;
   }

  .menu {
    width: 270px;
  }
   
  .hid {
    left: -370px;
  }

  .max-img img {
    width: 80vw;
  }

  .network, .data {
    font-size: 14px;
  }

  .odds {
    width: 265px;
    gap: 20px;
  }
  
  .odd {
    width: 100px;
  }
}

@media (max-width: 359px) {
  .cottages .stripe {
    width: 200px;
  }

  .cottage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cottage img {
    width: 245px;
    height: 245px;
  }

  .cottage .about {
    width: 245px;
  }

  .map {
    display: none;
  }

  .main-form {
    display: none;
  }

  .min-img {
    display: none;
  }

  .contacts .phone,
  .contacts .img {
    display: none;
  }

  .links .form,
  .links .cottage,
  .links .home {
   width: 120px;
  }

  .cottage-form {
    width: 60vw;
    height: 65vh;
    gap: 10px;
    align-items: center;
  }
  
  .cottage-form h1 {
    font-size: 20px;
  }
  
  .cottage-form .form,
  .cottage-form .home {
    width: 85%;
  }
  
  form {
    flex-direction: column;
  }

  input, select {
    width: 85%;
  }

  .status {
    width: 60%;
    left: 5%;
    right: 5%;
   }

  .menu {
    width: 250px;
  }
   
  .hid {
    left: -350px;
  }

  .max-img img {
    width: 80vw;
  }

  .logo,
  .links .text {
    font-size: 16px;
  }

  .network, .data {
    font-size: 14px;
  }

  .odds-container {
    display: none;
  }
}