@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  animation: 0.7s show ease;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.next-link{
  text-decoration: none;
}

/* nav */
nav {
  height: 80px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left:0;
  right: 0;
  top: 0;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

nav .contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.contacts:hover {
  color: #cbc276;
}

.contacts .img {
  width: 24px;
  height: 24px;
  background: url('../public/pictures/contact.png') no-repeat;
  transition: 0.5s;
}

.contacts:hover .img {
  background: url('../public/pictures/contact-hover.png') no-repeat;
}

nav .links {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 19px;
  cursor: pointer;
}

.links .img {
  width: 60px;
  height: 40px;

  background: url('../public/pictures/menu/menu.png') no-repeat;
  background-size: 60px 40px;
  opacity: 0.8;
  transition: 0.5s;
}

nav .links:hover,
nav .logo:hover {
  color:#cbc276;
}

.links:hover .img {
  background: url('../public/pictures/menu/menu-hover.png') no-repeat;
  background-size: 60px 40px;
}

nav .logo {
  transition: 0.5s;
  cursor: pointer;
}

/* footer */
footer {
  flex: 0 0 auto;
  height: 120px;
  background-color: #38424c;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.networl .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.network .vk {
  width: 25px;
  height: 25px;
  background: url('../public/pictures/footer/vk.png') no-repeat;
}

.network .inst {
  width: 25px;
  height: 25px;
  background: url('../public/pictures/footer/inst.png') no-repeat;
}

/* main page style */
  .main-container,
  .galery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .main-container {
    gap: 100px;
  }
  
  .main-img,
  .galery-img {
    position: relative;
  }

  .main-img img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    /* animation: 0.7s show ease; */
  }

  .main-form {
    position:absolute;
    top: 70%;
    left: 15%;
    width: 1060px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 1em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .main-form form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .main-form input,
  .main-form select {
    padding: 0.7em;
    font-size: 16px;
    border: 1.5px solid #cbc276;
    border-radius: 5px;
    cursor: pointer;
  }

  .main-form input:focus,
  .main-form select:focus {
    outline: none;
    border: 2.5px solid #cbc276;
  }

  .forth, .back {
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
  }
  
  .forth {
    background: url('../public/pictures/arrows/forth.png');
    right: 0;
    bottom: 45%;
  }

  .back {
    background: url('../public/pictures/arrows/back.png');
    bottom: 45%;
  }

  .forth:hover, .back:hover {
    scale: 1.1;
  }

/* cottages */
.cottages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.cottages .stripe {
  width: 700px;
  height: 3px;
  background-color: #cbc276;
  opacity: 0.8;
}

.cottages-container h1 {
  text-align: center;
  margin-bottom: 50px;
}

.cottage {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.cottage img {
  width: 515px;
  height: 515px;
  object-fit: cover;
  object-position: top;
  box-shadow: 12px 12px #eef7f9;
}

.cottage .about {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 450px;
}

.about h2 {
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 448px;
  height: 70px;
  background-color: #f1f1e5;
  font-size: 20px;
}

.info .sq,
.info .count,
.info .sleeper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sq .img {
  width: 25px;
  height: 25px;

  background: url('../public/pictures/cottages/sq.png');
}

.count .img {
  width: 25px;
  height: 25px;

  background: url('../public/pictures/cottages/count.png');
}

.sleeper .img {
  width: 25px;
  height: 25px;

  background: url('../public/pictures/cottages/sleeper.png');
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.links .form,
.links .cottage,
.main-form button {
  text-decoration: none;
  width: 220px;
  height: 50px;
  background-color: #cbc276;
  padding: 0.7em;
  border: 0;
  color: white;
  cursor: pointer;
}

/* cottage */
.one {
  margin-top: 150px;
  align-items: start;
}

.one ul {
  list-style-type: none;
  list-style-image: url('../public/pictures/cottages/li.png');
}

.one .check {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.one .add {
  font-size: 15px;
}

/* gallery */
.galery-container {
  gap: 50px;
  margin-top: 50px;;
}

.max-img img {
    width: 50vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.min-img {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  cursor: pointer;
}

.min-img div {
  transition: 0.3s;
  opacity: 0.7;
}

.min-img div:hover {
  opacity: 1;
}

.min-img img {
  width: 60px;
  height: 70px;
}

